.idea/.gitignore
.idea/MATH1220.iml
.idea/misc.xml
.idea/modules.xml
.idea/rSettings.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
.ipynb_checkpoints/julia_set_visualization-checkpoint.ipynb
julia_set_Xin_Guan.zip
